@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500;700&display=swap');


*{box-sizing:border-box}
html,body,#root{height:100%}
body{
  background: #ffffff;
  margin:0;
  font-family: 'Inter', 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  color:#121417;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}